model_config_list {
    config{
        name: 'Model1_Large',
        base_path: '/models/img_classifier/Model1_Large',
        model_platform: 'tensorflow'
    },
    config{
        name: 'Model2_Small',
        base_path: '/models/img_classifier/Model2_Small',
        model_platform: 'tensorflow'
    }
}