<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in layout.html -->
{% block content %}
<div class="py-3 py-md-5 mt-1 container-md-2">
    <div class="container-md-4 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 p-5" style="border-radius:1rem;background-color:#BFD7ED">
            <h3 class="mb-4 text-center pt-2">Sign In</h3>
            <form action="/login" method="post">
                {{ form.hidden_tag() }}
                                
                <div class="form-group">
                    {{ form.username.label(class='form-control-label')}}
                    {{ form.username(class='form-control',placeholder="Enter Username")}}
                </div>
                <div class="form-group">
                    {{ form.password.label(class='form-control-label')}}
                    {{ form.password(class='form-control',placeholder="Enter Password")}}
                </div>
                <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary w-100 shadow-lg mt-2">Login</button>
                </div>
            </form>
            <div class="text-center pt-4">
                <p class="m-0">Do not have an account? <a href="register" class="link-secondary text-decoration-none">Sign Up</a></p>
              </div>  
        </div>
    </div>
    </div>
    </div>


{% endblock %}